*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-behavior: smooth;
}
header{
    position: sticky;
    top: 0;
    border-bottom: 1px solid #ffe2a4;
    padding-bottom: 5px;
    background-color: #c19942;
    z-index: 21;
}
.info-line{
    display: flex;
    justify-content: space-around;
    padding: 8px;
    background-color:black;
    .info{
        i{
            font-size: 15px;
            color: wheat;
            margin: 0 5px;
        }
    }
    .line{
        i{
            font-size: 15px;
            margin: 0 5px;

        }
        a{
            color: wheat;
            text-decoration: none;

        }
        span{
            color: white;
        }
    }
}
@media screen and (max-width:1024px){
    .info-line{
        width: 100%;
    }
}
.navigationbar{
    display: flex;
    justify-content: space-around;
    img{
        margin-top: 5px;
    }
}
.details{
    margin: 30px 0;
  
}
.nav{
    display: flex;
    ul{
        display: flex;
        
        li{
            list-style-type: none;
            font-size: 18px;
            padding-left: 30px;
              a{
                    color: white;
                    text-decoration: none;
                }
                
        }
    }
}
.bar{
    ul{
        display: flex;
        margin: 30px 0;
        a{
            text-decoration: none;
            li{
                list-style-type: none;
                font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-size: 18px;
                padding-left: 30px;
                color: white;     
            }
        }
    }
}
.nav-shop{
    &:hover .drop-shop{
        display: flex;
        flex-direction: column;
        border-radius: 8px;
    }
    .drop-shop::before{
        border-color: transparent transparent #fff;
        border-style:solid ;
        border-width: 0 7px 10px;
        bottom: 100%;
        content: "";
        height: 0;
        left: 5%;
        position: absolute;
        width: 0;
    
    }
    .drop-shop{
        background-color: white;
        display: none;
        position: absolute;
        padding: 20px 15px ;
        border-radius: 5px;
        margin-top: 10px;
        text-align: left;
        a{
            color: black;
            margin:5px 0;
            left: 5px;
        
        }
    }
}
#hamburger-input{
  display: none;
}
#hamburger-menu {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    display: none;
    border: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Cabin', Sans-serif;
    background: linear-gradient(
      to bottom, 
      rgb(48, 32, 2) 20%, 
      white 20%, white 40%, 
      rgb(48, 32, 2) 40%,  rgb(48, 32, 2) 60%, 
      white 60%, white 80%, 
      rgb(48, 32, 2) 80%, rgb(48, 32, 2) 100%
    );
}
#hamburger-menu #sidebar-menu {
    margin-top: 34px;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color: #000;
    transition: 0.3s;
    padding: 0px 10px;
    box-sizing: border-box;
}
#hamburger-menu ul {
  padding-left: 0px;
}
#hamburger-menu li {
  list-style-type: none;
  line-height: 3rem;
}
#hamburger-menu a {
  color: wheat;
  font-size: 1.3rem;
  text-decoration: none;
  transition: 0.4s;
  &:hover{
    color: #c19942;
    padding-left: 5px;
    border-left:3px solid  wheat;
    }
}
#hamburger-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
    left: 0;
}
@media screen and (max-width: 768px) {
    .navigationbar{
        justify-content: flex-end;
    }
    .nav{
        display: none;
    }
    .bar{
        justify-content: space-between;
    }
  #hamburger-menu {
    margin-top: 30px;
    display: inline;
  }
}
#category{
    background-color: #c19942;

}
.category-menu{
    padding: 20px 0;
    ul{
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 0;
        li{
            list-style-type: none;
            
            a{
                color: #fff;
                text-decoration: none;
                
                span{
                    text-transform: uppercase;
                    color: #ffe2a4;
                    padding-left: 18px;
                    font-size: 18px;
                }
            }
        }
    }
    li{
        transition: 0.8s;
        &:hover{
            filter: sepia(1);
        }
    }
}
.hamburger-menu {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: #FFF;
  height: 50px;
  padding: 1em;  
}
.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 20;
}
.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}
.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#menu-toggle {
  display: none;
}
.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background: white;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
.menu-button::before {
  content: '';
  margin-top: -8px;
}
.menu-button::after {
  content: '';
  margin-top: 8px;
}
#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}
#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}
#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
.menu {
    span{
        padding-left:5px;
        text-decoration: none;
        color: wheat;
}
    a{
        &:hover{
            text-decoration: none;
        }
    }
}
@media (max-width: 768px) {
    header{
        background-color: #c19942;
        position: sticky;
    }
    .category-menu{
        display: none;
    }
    .hamburger-menu{
        display: flex;
    }
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 184px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    height: 3.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    color: white;
    background-color: black;
  }
}
#discounts{
    padding: 100px 0 ;
}
.opportunities{
    background-color: #FFF;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-evenly;
}
.discount{
    transition: 0.7s ease;
    img{
        max-width: 100%;
        border-radius: 15px;
    }
    a{
        &:hover{
            text-decoration: none;
        }
    }
    &:hover{
        opacity: 0.7;
        transform: scale(0.9);   
    }
}
.description{
    display: flex;
    position: absolute;
    bottom: 0px;
    margin-left: 3px;
    width: auto;
    color: white;
    font-style: oblique;
    i{
        font-size: 30px;
        color: #c19942;
        margin-left: 4px;
    }
    h2{
        width: fit-content;
    }
}
.gifts{
    transition: 0.7s;
    img{
        max-width: 100%;
        border-radius: 15px;
    }
    &:hover{
        opacity: 0.7;
        transform: scale(0.9);    
    }
}
#menu{
    padding: 30px 0;
    background-image: url('/assets/Img/top-view-coffee-accessories-with-copy-space_23-2148336706.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: fit-content;
}
.fullmenu{
    display: block;
    text-align: center;
    font-style: oblique;
    color: #c19942;
}
.item{
    display: flex;
    margin: 5px 0;
}
.item-image{
    display: flex;
}
.title{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px dashed #fff;
}
.item-description{
    margin: 12px 0;
    padding-left: 10px;
}
.inner-coffee{
    text-align: start;
}
.inner-menu{
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
}
.fullmenu-button{
    display: flex;
    justify-content: center;
}
.fullmenu-btn{
    padding: 12px 28px;
    border-radius: 250px;
    background-color: transparent;
    border:1px solid #c19942;
    font-weight: 700;
    font-size: 20px;
    transition: all 0.8s ease;
    &:hover{
        background-color: #c19942;
        text-decoration: none;
        a{
            text-decoration: none;
            color: #fff;
        }
    }
    a{
        text-decoration: none;
        color: wheat;
    }
}
@media screen and (max-width:768px) {
    .fullmenu{
        position: relative;
    }
    .inner-menu{
        display: block;
    }
    .opportunities{
        display: block;
        width: 100%;
    } 

    .discount{
        max-width: 100%;        
    }
    .gifts{
        max-width: 100%;        
        padding-top: 10px;
    }
}
.shop{
    padding: 10px 25px;
}
.shop-title{
    h2,h4{
        text-align: center;
        font-style: oblique;
        color: #e5a418;
        padding-bottom: 10px;
        
    }
    padding: 50px 0;
}
.shop-slide{
    img{
        border-radius: 12px;
        box-shadow: 2px 4px 2px 0 gray;
        width: 100%;
        padding: 5px 0;
    }
}
.blogs{
    background-color: #eae7de;
    padding: 50px 25px;
}
.blog-title{
    text-align: center;
    font: oblique;
}
.blog-info{
    margin: 3px 0;
    background-color: white;
    border-radius: 18px;
    padding: 0;
}
.blog-image{
    img{
        border-radius: 18px;
        width: 100%;
        height: 30vh;
        margin: 8px 0;
    }
}
.blog-description{
    i{
        padding-right: 8px;
    }
    p{
        margin: 2px 0;
        a{
            padding: 10px 0;
            color: #e5a418;
            font-size: 20px;
            &:hover{
                text-decoration: none;
                opacity: 0.8;
            }
        }
    }
}
.future{
    padding: 30px 0;
    background-image: url('/assets/Img/banner4-1.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
}
.somefuture{
    h2{
        color: #e5a418;
        font:oblique;
        text-transform: uppercase;
    }
    p{
        color: #816E6E;
        font-size: 17px;
    }
}
.allfutures{
    display: flex;
}
.future-description{
    padding-top: 20px;
}
.future-title{
    h2{
        padding: 20px 0;
        color: #e5a418;
    }
}
.future-content{
    p{
        color: #816E6E;
    }
    text-align: center;
}
.social-media{
    padding: 20px 44px;
    background-color: #000;
}
.media-title{
    text-align: center;
    h2{
        color: #e5a418;
    }
    p{
        color: #816E6E;
    }
}
.media-info{
    padding: 5px 0;
}
.media-image{
    position: relative;
img{
    transition: 0.8s;
    width: 100%;
}
    &:hover{
        transform: rotate(360deg);
        img{
            transform: scale(0.9);
        }
            .media-insta{
                display: block;
                opacity: 0.9;

        }
    }
}
.media-insta{
    display: none;
    background-image: url('/assets/Img/gradient-bg.png');
    position:absolute;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 20px;
    left: 60px;
    transition: 0.8s;
    font-size: 40px;
    border-radius: 12px;   
    padding: 65px;
    color: white;
    &:hover{
        transform: rotate(360deg);
        text-decoration: none;
    }
}
@media screen and (max-width:768px) {
    .allfutures{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .d-flex{
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
    }
}
// Footer Start
.footer{
    background-image: url('/assets/Img/footer-bg.jpg');
    background-attachment: fixed;
    padding: 20px 0;
}
.d-flex{
    display: flex;
}
.info-despina{
    color: white;
    ul{
        display: flex;
        li{
            list-style-type: none;
            i{
                font-size: 15px;
                color: #c7a17a;
                margin: 0 5px;         
               }
        }
    }
}
.contact-despina{
    h4{
        color: #c7a17a;
        font-size: 25px;
    }
    li{
        list-style-type: none;
        color: white;  
      }
}
.openning-hour{
    h4{
        color: #c7a17a;
        font-size: 25px;
    }
   li{
      list-style-type: none;
      color: white;  
    }
}
.despina-video {
    h4{
        color: #c7a17a;
        font-size: 25px;
    }
    img{
        margin-top: 10px;
    }
}
// End Footer
// Menu page
.details-menu{
    display: block;
}
.coffee-title{
      text-align: center;
      font: oblique;
      p{
        font-size: 20px;
        color:#e5a418
      }
}
.coffee-list{
    padding: 35px 20px;
    font-family: 'Source Sans Pro', sans-serif;
    h4{
        display: flex;
        justify-content: space-between;
        border-bottom: 2px dashed #ccc;
        padding-bottom: 10px;
    }
    span{
        color: #c19942;
    }
    p{
        margin-top: 15px;
        color: #c19942;
    }
}
.cocktails-title{
    text-align: center;
    font: oblique;
    p{
        font-size: 20px;
        color:#e5a418
      }
}
.cocktails-list{
  padding: 35px 20px;
  font-family: 'Source Sans Pro', sans-serif;
  h4{
      display: flex;
      justify-content: space-between;
      border-bottom: 2px dashed #ccc;
      padding-bottom: 10px;
  }
  span{
      color: #c19942;
  }
  p{
      margin-top: 15px;
      color: #c19942;
  }
}
.tea-title{
    text-align: center;
    font: oblique;
    img{
        width: 50%;
    }
    p{
        font-size: 20px;
        color:#e5a418
      }
}
.tea-list{
  padding: 35px 20px;
  font-family: 'Source Sans Pro', sans-serif;
  h4{
      display: flex;
      justify-content: space-between;
      border-bottom: 2px dashed #ccc;
      padding-bottom: 10px;
  }
  span{
      color: #c19942;
  }
  p{
      margin-top: 15px;
      color: #c19942;
  }
}
.cake-title{
    img{
        width: 50%;
    }
    text-align: center;
    font: oblique;
    p{
        font-size: 20px;
        color:#e5a418
      }
}
.cake-list{
  padding: 35px 20px;
  font-family: 'Source Sans Pro', sans-serif;
  h4{
      display: flex;
      justify-content: space-between;
      border-bottom: 2px dashed #ccc;
      padding-bottom: 10px;
  }
  span{
      color: #c19942;
  }
  p{
      margin-top: 15px;
      color: #c19942;
  }
}
//Contact page
.contactus{
    padding: 50px 0;
}
.contact-us-title{
    text-align: center;
    font: oblique;
    h1{
        color: #c19942;
    }
    p{
        color: #816E6E;
    }
}
.contactus-form-title{
    h1{
        color: #c19942;
    }
    p{
        color: #816E6E;
    }
    i{
        font-size: 20px;
    }
}
.contactus-form-inputs{
    label{
        display: block;
    }
    input{
        padding: 12px 22px;
        width: 100%;
        background-color: #f8f8f8;
        border: 1px solid #c7a17a;
        border-radius: 12px;        
    }
}
.email{
    input{
        padding: 12px 10px;
        width: 100%;
    }
}
textarea{
    width: 100%;
    height: 150px;
    padding: 12px 12px;
    border: 1px solid #e5a418;
    border-radius: 12px;
    background-color: #f8f8f8;
    font-size: 20px;
    resize: none;
}
.forum-btn{
    button{
        padding: 13px 20px;
        background-color: black;
        border-radius: 12px;
        border: none;
        transition: 0.8s;
        a{
            transition: 0.8s;
            text-decoration: none;
            color: wheat;     
        }
        &:hover{
            opacity: 0.9;
            a{
                color: white;
            }
        }
    }
}
.contactaddress{
    h1{
        color: #c19942;
    }
    h2{
        color: #c19942;
    }
    p{
        color: #816E6E;
    }
}
.openninghours-list{
    ul{
        list-style-type: none;
        li{
            color: #816E6E;
        }
    }
}
//Blog page
.inner-blogs{
    padding: 30px 0;
}
.inner-blog-img{
    img{
        margin: 8px 0;
        width: 100%;
        border-radius: 25px;
        box-shadow: 2px 2px 2px 0;
        box-shadow: wheat;
    }
}
.inner-blog-description{
    margin: 8px 0;
    border-radius: 25px;
    border: 2px solid #c19942;
    a{
        padding: 10px 0;
        color: #e5a418;
        font-size: 25px;
        &:hover{
            text-decoration: none;
            opacity: 0.8;
        }
    }
}
//Inner-blogs
.post-blog{
    padding: 20px 0;
    border-radius: 12px;
}
.post-blog-bg{
    img{
       width: 100%;
       margin: 0;
       height: 70vh;
       border-radius: 12px;
    }
}
.post-blog-title{
    p{
        color: #816E6E;
    }
    h2{
        color: #e5a418;
    }
}
.inner-login{
    padding: 10px 0;
    margin: 90px;
    label{
        display: block;
    }
    input{
        padding: 12px 22px;
        width: 100%;
        background-color: #f8f8f8;
        border: 1px solid #c7a17a;
        border-radius: 12px;        
    }
}
.login-button{
    button{
        margin: 10px;
        padding: 13px 20px;
        background-color: black;
        border-radius: 12px;
        border: none;
        transition: 0.8s;
        a{
            transition: 0.8s;
            text-decoration: none;
            color: wheat;     
        }
        &:hover{
            opacity: 0.9;
            a{
                color: white;
            }
        }
    }
}