* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #ffe2a4;
  padding-bottom: 5px;
  background-color: #c19942;
  z-index: 21;
}

.info-line {
  display: flex;
  justify-content: space-around;
  padding: 8px;
  background-color: black;
}
.info-line .info i {
  font-size: 15px;
  color: wheat;
  margin: 0 5px;
}
.info-line .line i {
  font-size: 15px;
  margin: 0 5px;
}
.info-line .line a {
  color: wheat;
  text-decoration: none;
}
.info-line .line span {
  color: white;
}

@media screen and (max-width: 1024px) {
  .info-line {
    width: 100%;
  }
}
.navigationbar {
  display: flex;
  justify-content: space-around;
}
.navigationbar img {
  margin-top: 5px;
}

.details {
  margin: 30px 0;
}

.nav {
  display: flex;
}
.nav ul {
  display: flex;
}
.nav ul li {
  list-style-type: none;
  font-size: 18px;
  padding-left: 30px;
}
.nav ul li a {
  color: white;
  text-decoration: none;
}

.bar ul {
  display: flex;
  margin: 30px 0;
}
.bar ul a {
  text-decoration: none;
}
.bar ul a li {
  list-style-type: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
  padding-left: 30px;
  color: white;
}

.shop:hover .drop-shop {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}
.shop .drop-shop::before {
  border-color: transparent transparent #fff;
  border-style: solid;
  border-width: 0 7px 10px;
  bottom: 100%;
  content: "";
  height: 0;
  left: 5%;
  position: absolute;
  width: 0;
}
.shop .drop-shop {
  background-color: white;
  display: none;
  position: absolute;
  padding: 20px 15px;
  border-radius: 5px;
  margin-top: 10px;
  text-align: left;
}
.shop .drop-shop a {
  color: black;
  margin: 5px 0;
  left: 5px;
}

#hamburger-input {
  display: none;
}

#hamburger-menu {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  display: none;
  border: none;
  padding: 0px;
  margin: 0px;
  font-family: "Cabin", Sans-serif;
  background: linear-gradient(to bottom, rgb(48, 32, 2) 20%, white 20%, white 40%, rgb(48, 32, 2) 40%, rgb(48, 32, 2) 60%, white 60%, white 80%, rgb(48, 32, 2) 80%, rgb(48, 32, 2) 100%);
}

#hamburger-menu #sidebar-menu {
  margin-top: 34px;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: -250px;
  width: 200px;
  height: 100%;
  background-color: #000;
  transition: 0.3s;
  padding: 0px 10px;
  box-sizing: border-box;
}

#hamburger-menu ul {
  padding-left: 0px;
}

#hamburger-menu li {
  list-style-type: none;
  line-height: 3rem;
}

#hamburger-menu a {
  color: wheat;
  font-size: 1.3rem;
  text-decoration: none;
}
#hamburger-menu a:hover {
  color: #c19942;
  transition: 0.4s;
  padding-left: 5px;
  border-left: 3px solid wheat;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
  visibility: visible;
  left: 0;
}

@media screen and (max-width: 768px) {
  .navigationbar {
    justify-content: flex-end;
  }
  .nav {
    display: none;
  }
  .bar {
    justify-content: space-between;
  }
  #hamburger-menu {
    margin-top: 30px;
    display: inline;
  }
}
#category {
  background-color: #c19942;
}

.category-menu {
  padding-top: 20px;
}
.category-menu ul {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0;
}
.category-menu ul li {
  list-style-type: none;
}
.category-menu ul li a {
  color: #fff;
  text-decoration: none;
}
.category-menu ul li a span {
  text-transform: uppercase;
  color: #ffe2a4;
  padding-left: 18px;
  font-size: 18px;
}
.category-menu li:hover {
  transition: 0.8s;
  filter: sepia(1);
}

.hamburger-menu {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: #FFF;
  height: 50px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 20;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background: white;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.menu span {
  padding-left: 5px;
  text-decoration: none;
  color: wheat;
}
.menu a:hover {
  text-decoration: none;
}

@media (max-width: 768px) {
  header {
    background-color: #c19942;
    position: -webkit-sticky;
    position: sticky;
  }
  .category-menu {
    display: none;
  }
  .hamburger-menu {
    display: flex;
  }
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 184px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    height: 3.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    color: white;
    background-color: black;
  }
}
#discounts {
  padding: 100px 0;
}

.opportunities {
  background-color: #FFF;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: space-evenly;
}

.discount {
  transition: 0.7s ease;
}
.discount img {
  max-width: 100%;
  border-radius: 15px;
}
.discount a:hover {
  text-decoration: none;
}
.discount:hover {
  opacity: 0.7;
  transform: scale(0.9);
}

.description {
  display: flex;
  position: absolute;
  bottom: 0px;
  margin-left: 3px;
  width: auto;
  color: white;
  font-style: oblique;
}
.description i {
  font-size: 30px;
  color: #c19942;
  margin-left: 4px;
}
.description h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.gifts {
  transition: 0.7s;
}
.gifts img {
  max-width: 100%;
  border-radius: 15px;
}
.gifts:hover {
  opacity: 0.7;
  transform: scale(0.9);
}

#menu {
  padding: 30px 0;
  background-image: url("/assets/Img/top-view-coffee-accessories-with-copy-space_23-2148336706.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.fullmenu {
  display: block;
  text-align: center;
  font-style: oblique;
  color: #c19942;
}

.item {
  display: flex;
}

.item-image {
  display: flex;
}

.title {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px dashed #fff;
}

.item-description {
  margin: 12px 0;
  padding-left: 10px;
}

.inner-coffee {
  text-align: start;
}

.inner-menu {
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
}

.fullmenu-button {
  display: flex;
  justify-content: center;
}

.fullmenu-btn {
  padding: 12px 28px;
  border-radius: 250px;
  background-color: transparent;
  border: 1px solid #c19942;
  font-weight: 700;
  font-size: 20px;
  transition: all 0.8s ease;
}
.fullmenu-btn:hover {
  background-color: #c19942;
  text-decoration: none;
}
.fullmenu-btn:hover a {
  text-decoration: none;
  color: #fff;
}
.fullmenu-btn a {
  text-decoration: none;
  color: wheat;
}

@media screen and (max-width: 768px) {
  .fullmenu {
    position: relative;
  }
  .inner-menu {
    display: block;
  }
  .opportunities {
    display: block;
    width: 100%;
  }
  .discount {
    max-width: 100%;
  }
  .gifts {
    max-width: 100%;
    padding-top: 10px;
  }
}
.shop-title {
  padding: 50px 0;
}
.shop-title h2, .shop-title h4 {
  text-align: center;
  font-style: oblique;
  color: #e5a418;
  padding-bottom: 10px;
}

.shop-slide img {
  border-radius: 12px;
  box-shadow: 2px 4px 2px 0 gray;
  width: 100%;
  padding: 5px 0;
}

.slick-slide {
  width: 0;
}

.blogs {
  background-color: #eae7de;
  padding: 50px 0;
}

.blog-title {
  text-align: center;
  font: oblique;
}

.blog-info {
  background-color: white;
  border-radius: 18px;
  padding: 0;
}

.blog-image img {
  border-radius: 18px;
  width: 100%;
  padding: 8px 0;
}

.blog-description {
  padding-left: 6px;
}
.blog-description i {
  padding-right: 8px;
}
.blog-description p {
  margin: 20px 0;
}
.blog-description p a {
  padding: 10px 0;
  color: #e5a418;
  font-size: 25px;
}
.blog-description p a:hover {
  text-decoration: none;
  opacity: 0.8;
}

.future {
  padding: 30px 0;
  background-image: url("/assets/Img/banner4-1.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
}

.somefuture h2 {
  color: #e5a418;
  font: oblique;
  text-transform: uppercase;
}
.somefuture p {
  color: #816E6E;
  font-size: 17px;
}

.allfutures {
  display: flex;
}

.future-description {
  padding-top: 20px;
}

.future-title h2 {
  padding: 20px 0;
  color: #e5a418;
}

.future-content {
  text-align: center;
}
.future-content p {
  color: #816E6E;
}

.social-media {
  padding: 20px 0;
  background-color: #000;
}

.media-title {
  text-align: center;
}
.media-title h2 {
  color: #e5a418;
}
.media-title p {
  color: #816E6E;
}

.media-info {
  padding: 5px 0;
}

.media-image {
  position: relative;
}
.media-image img {
  transition: 0.8s;
  width: 100%;
}
.media-image:hover {
  transform: rotate(360deg);
}
.media-image:hover img {
  transform: scale(0.9);
}
.media-image:hover .media-insta {
  display: block;
  opacity: 0.9;
}

.media-insta {
  display: none;
  background-image: url("/assets/Img/gradient-bg.png");
  position: absolute;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 20px;
  left: 60px;
  transition: 0.8s;
  font-size: 40px;
  border-radius: 12px;
  padding: 65px;
  color: white;
}
.media-insta:hover {
  transform: rotate(360deg);
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .allfutures {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .d-flex {
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
  }
}
.footer {
  background-image: url("/assets/Img/footer-bg.jpg");
  background-attachment: fixed;
  padding: 20px 0;
}

.d-flex {
  display: flex;
}

.info-despina {
  color: white;
}
.info-despina ul {
  display: flex;
}
.info-despina ul li {
  list-style-type: none;
}
.info-despina ul li i {
  font-size: 15px;
  color: #c7a17a;
  margin: 0 5px;
}

.contact-despina h4 {
  color: #c7a17a;
  font-size: 25px;
}
.contact-despina li {
  list-style-type: none;
  color: white;
}

.openning-hour h4 {
  color: #c7a17a;
  font-size: 25px;
}
.openning-hour li {
  list-style-type: none;
  color: white;
}

.despina-video h4 {
  color: #c7a17a;
  font-size: 25px;
}
.despina-video img {
  margin-top: 10px;
}

.details-menu {
  display: block;
}

.coffee-title {
  text-align: center;
  font: oblique;
}
.coffee-title p {
  font-size: 20px;
  color: #e5a418;
}

.coffee-list {
  padding: 35px 20px;
  font-family: "Source Sans Pro", sans-serif;
}
.coffee-list h4 {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px dashed #ccc;
  padding-bottom: 10px;
}
.coffee-list span {
  color: #c19942;
}
.coffee-list p {
  margin-top: 15px;
  color: #c19942;
}

.cocktails-title {
  text-align: center;
  font: oblique;
}
.cocktails-title p {
  font-size: 20px;
  color: #e5a418;
}

.cocktails-list {
  padding: 35px 20px;
  font-family: "Source Sans Pro", sans-serif;
}
.cocktails-list h4 {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px dashed #ccc;
  padding-bottom: 10px;
}
.cocktails-list span {
  color: #c19942;
}
.cocktails-list p {
  margin-top: 15px;
  color: #c19942;
}

.tea-title {
  text-align: center;
  font: oblique;
}
.tea-title img {
  width: 50%;
}
.tea-title p {
  font-size: 20px;
  color: #e5a418;
}

.tea-list {
  padding: 35px 20px;
  font-family: "Source Sans Pro", sans-serif;
}
.tea-list h4 {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px dashed #ccc;
  padding-bottom: 10px;
}
.tea-list span {
  color: #c19942;
}
.tea-list p {
  margin-top: 15px;
  color: #c19942;
}

.cake-title {
  text-align: center;
  font: oblique;
}
.cake-title img {
  width: 50%;
}
.cake-title p {
  font-size: 20px;
  color: #e5a418;
}

.cake-list {
  padding: 35px 20px;
  font-family: "Source Sans Pro", sans-serif;
}
.cake-list h4 {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px dashed #ccc;
  padding-bottom: 10px;
}
.cake-list span {
  color: #c19942;
}
.cake-list p {
  margin-top: 15px;
  color: #c19942;
}/*# sourceMappingURL=main.css.map */