//Shop
.inner-shop{
    padding: 50px 0;
    display: flex;
    
}
.inner-categories{
    background-color: #f4f2ed;
    padding: 38px 28px;
    border-radius: 12px;
    color: #e5a418;
    height: min-content;
    a{
        color: #816E6E;
        &:hover{
            text-decoration: none;
        }
    }

}
.shop-products{
    padding-left: 50px;
}
.shop-product{
    position: relative;
    border-radius: 12px;
    margin: 15px;
    width: 100%;
    img{
        width: 100%;
    }
}
.button-overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgba(199,161,122,0.8);
    opacity: 1;
    border-radius: 12px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0) rotate(90deg);
    -ms-transform: scale(0) rotate(90deg);
    transform: scale(0) rotate(90deg);
    -webkit-transition: .3s ease;
    transition: 0.8s ease;
}
.add-button{
    color: white;
    background-color: #372727;
    font-size: 15px;
    border-radius: 15px;
    padding: 5px 24px;
    text-transform: uppercase;
    position: absolute;
    transition: 0.8s;
    width: 90%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.shop-product{
    &:hover{
        .button-overlay{
            -webkit-transform:scale(1) rotate(360deg);
            -ms-transform: scale(1) rotate(360deg);
            transform: scale(1) rotate(360deg);
        }
    }
}
.wrapper {
    border-radius: 10px;
    padding: 20px 25px 40px;
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
  }
  .price--range-text h2 {
    font-size: 24px;
    font-weight: 600;
    color:  #816E6E;
  }
  .price--range-text p {
    margin-top: 5px;
    font-size: 16px;
    color:  #816E6E;

  }
  .price-input {
    width: 100%;
    display: flex;
    color:  #816E6E;
    margin: 30px 0 35px;
  }
  .price-input .field {
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
  }
  .field input {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 19px;
    margin-left: 12px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #999;
    -moz-appearance: textfield;
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  .price-input .separator {
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
  }
  .slider {
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
  }
  .slider .progress {
    height: 100%;
    left: 0%;
    right: 0%;
    position: absolute;
    border-radius: 5px;
    background: #e5a418;
  }
  .range-input {
    position: relative;
  }
  .range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  input[type="range"]::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #e5a418;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  }
  input[type="range"]::-moz-range-thumb {
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: #e5a418;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  }
  .range-button{
    padding: 20px 10px;
    button{
      background-color: #e5a418;
      border-radius: 25px;
      color: white;
      font-size: 18px;
      font-weight: 600;
      padding:15px 30px;
      cursor: pointer;
      border: none;
      transition: all 0.8s;
      &:hover{
          opacity: 0.8;
          background-color: white;
          color: #e5a418;
      }
  }
  }
  @media screen and (max-width:992px) {
    .slider{
      display: none;
    }
    .range-input{
      display: none;
    }
    .shop--product-filter{
      display: flex;
      flex-direction: column-reverse;
    }
    .shop-filter{
      text-align: center;
    }
    .d-flex{
      justify-content: center;
    }
  }
  @media screen and (max-width:768px) {
    .price-input{
      display: block;
    }
  }
.paginations{
    margin-top: -20px;
    ul{
        display: flex;
        justify-content: center;
        list-style-type: none;
        li{
            margin: 10px;  
            background-color: black;
            border-radius: 50%;
            padding: 15px;
            font-size: 15px;
            a{
                text-decoration: none;
                color: wheat;
            }
        }
    }
}